<article>

    <article class="bg-white">
        <div class=" screen-spacer lg:pt-40 pt-10">
            <section class=" flex justify-center lg:flex-row flex-col items-center   gap-x-20 lg:gap-y-0 gap-y-10 ">
                <div class=" lg:block hidden">
                    <div class="h-[362px]">
                        <img src="assets/images/portable.png" alt="" class="h-full w-full">
                    </div>
                </div>
                <div class=" lg:w-1/3 w-4/5 flex  lg:justify-start justify-center">
                    <div class="flex flex-col gap-y-2 ">
                        <span class=" text-orange-primary font-semibold">A PROPOS</span>
                        <div>
                            <p class=" font-bold text-black">ATD une agence du gouvernement Togolais</p>
                        </div>
                        <div>
                            <p class=" text-dgray450">L'Agence Togo Digital (ATD) incarne l'engagement du Gouvernement
                                Togolais
                                envers la modernisation économique et
                                l'innovation continue (l’inclusion sociale ?). Instituée par le Décret Présidentiel
                                n°2021-102/PR en date du 29
                                septembre 2021...</p>
                        </div>
                        <div class=" bg-blue-ciel rounded-md p-4">
                            <div class="flex flex-col gap-y-3">
                                <div class="flex gap-x-4">
                                    <div>
                                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.375 10.5C19.375 15.8503 15.0378 20.1875 9.6875 20.1875C4.33723 20.1875 0 15.8503 0 10.5C0 5.14973 4.33723 0.8125 9.6875 0.8125C15.0378 0.8125 19.375 5.14973 19.375 10.5ZM8.56695 15.6295L15.7545 8.44195C15.9985 8.19789 15.9985 7.80215 15.7545 7.55809L14.8706 6.67422C14.6265 6.43012 14.2308 6.43012 13.9867 6.67422L8.125 12.5359L5.38832 9.79918C5.14426 9.55512 4.74852 9.55512 4.50441 9.79918L3.62055 10.683C3.37648 10.9271 3.37648 11.3229 3.62055 11.5669L7.68305 15.6294C7.92715 15.8735 8.32285 15.8735 8.56695 15.6295Z"
                                                fill="#EF532B" />
                                        </svg>
    
                                    </div>
                                    <div>
                                        <span>Gouvernance digitale</span>
                                    </div>
                                </div>
    
                                <div class="flex gap-x-4">
                                    <div>
                                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.375 10.5C19.375 15.8503 15.0378 20.1875 9.6875 20.1875C4.33723 20.1875 0 15.8503 0 10.5C0 5.14973 4.33723 0.8125 9.6875 0.8125C15.0378 0.8125 19.375 5.14973 19.375 10.5ZM8.56695 15.6295L15.7545 8.44195C15.9985 8.19789 15.9985 7.80215 15.7545 7.55809L14.8706 6.67422C14.6265 6.43012 14.2308 6.43012 13.9867 6.67422L8.125 12.5359L5.38832 9.79918C5.14426 9.55512 4.74852 9.55512 4.50441 9.79918L3.62055 10.683C3.37648 10.9271 3.37648 11.3229 3.62055 11.5669L7.68305 15.6294C7.92715 15.8735 8.32285 15.8735 8.56695 15.6295Z"
                                                fill="#EF532B" />
                                        </svg>
    
                                    </div>
                                    <div>
                                        <span>Digitalisation des services publics et sociaux</span>
                                    </div>
                                </div>
    
    
                                <div class="flex gap-x-4">
                                    <div>
                                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.375 10.5C19.375 15.8503 15.0378 20.1875 9.6875 20.1875C4.33723 20.1875 0 15.8503 0 10.5C0 5.14973 4.33723 0.8125 9.6875 0.8125C15.0378 0.8125 19.375 5.14973 19.375 10.5ZM8.56695 15.6295L15.7545 8.44195C15.9985 8.19789 15.9985 7.80215 15.7545 7.55809L14.8706 6.67422C14.6265 6.43012 14.2308 6.43012 13.9867 6.67422L8.125 12.5359L5.38832 9.79918C5.14426 9.55512 4.74852 9.55512 4.50441 9.79918L3.62055 10.683C3.37648 10.9271 3.37648 11.3229 3.62055 11.5669L7.68305 15.6294C7.92715 15.8735 8.32285 15.8735 8.56695 15.6295Z"
                                                fill="#EF532B" />
                                        </svg>
    
                                    </div>
                                    <div>
                                        <span>Valorisation de la donnée</span>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class=" mt-10">
                            <a href="" class=" rounded-md  p-3 h-[45px] bg-orange-primary font-semibold text-white">
                                EN SAVOIR PLUS
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
    <div class=" bg-white shadow-lg rounded-md m-10">
        
    </div>
</article>